/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    height: 32px;

    display: flex;
    justify-content: flex-start;
    padding: 16px;
    z-index: 2;
    cursor: pointer;
}

.burger-menu {
    height: 100%;
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}
.content_button{
    color: whitesmoke;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    background: rgba(65, 63, 63);
    border: none;
    font-size: 16px;
    padding-bottom: 3px ;
    padding-left: 0px;
    cursor: pointer;
    text-decoration: none;
    transition: 1.3s;
  }
  .content_button:after {
    display: block; 
    content: ""; 
    height: 2px;
    width: 0%;
    background-color: whitesmoke;
    transition: width 0.4s ease-in-out;
    }
    .content_button:hover:after {
width: 100%;
}

    
.menu_content{
    padding: 0;
    padding-left: 4px;
    
    width: 100%;
}


.burger-bar {
    width: 48px;
    height: 6px;
    background-color: whitesmoke;
    border-radius: 8px;
}
.list{
    list-style-type: none;
    padding-left: 0;

}
.menu {
    width: 12%;
    height: 90vh;
    background-color: rgba(65, 63, 63);
    position:absolute;
    
    margin-top: 58px;

    top: 0;
    z-index: 1;
}

/* ------------- sliding menu ------------------ */
.hidden {
    transform: translateX(-100%);
    transition: all 0.3s;
}

.visible {
    transform: translateX(0);
    transition: all 0.3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(8px, 10px);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-8px, 10px);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}