.dropdown{    
    display: none;
    opacity: 0;
}
.open{
    display: block;
    animation: fadeInFromNone 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeInFromNone {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
  }
  
}
.closed{
    animation: fadeOutFromBlock 0.5s ease-in-out;   
    
}
@keyframes fadeOutFromBlock {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  .ul{
    list-style-type: circle;
  }

  .MainBtn{
    color: whitesmoke;
	  font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: rgba(65, 63, 63);
    border: none;
    font-size: 1rem;
    padding-bottom: 3px ;
    padding-left: 0;
    cursor: pointer;
    max-width: 90%;
    text-align: left;
  }
  .MainBtn:after {
    display: block; 
    content: ""; 
    height: 2px;
    width: 0%;
    background-color: whitesmoke;
    transition: width 0.4s ease-in-out;
    }
    .MainBtn:hover:after {
      width: 100%;
      }

  .DropBtn{
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: rgba(65, 63, 63);
    border: none;
    font-size: 0.9rem;
    padding-bottom: 3px ;
    padding-left: 5px;
    cursor: pointer;
  }
  .DropBtn:after {
    display: block; 
    content: ""; 
    height: 2px;
    width: 0%;
    background-color: whitesmoke;
    transition: width 0.4s ease-in-out;
    }
    .DropBtn:hover:after {
width: 100%;
}

