header {
	width: 100%;
	background: #333;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: 6vh;
	min-height: 60px;

	z-index: 4;
	box-shadow:inset 0 -2px 2px rgb(17, 17, 17);
    display:flex;
	justify-content:space-between;
	
}

.links{
	font-size: 2rem;
	padding-right: 5px;

	margin-top: 20px;
	display: flex;
	justify-content:flex-end;
	z-index: 3;

}
.link{
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	z-index: 3;
}
.title {
	font-size: 3.5rem;
	margin-bottom: 10px;
	z-index: 3;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    padding-right: 50%;
}
@media (max-width: 1200px) {
	.title{
		padding-right: 25%;
	}
	
}
@media (max-width: 992px) {
	.title{
		padding-right: 12.5%;
	}
	
}
@media (max-width: 767px) {
	.title{
		padding-right: none;
	}
		
}

@media (max-width: 540px) {
	
	.links{
		display: none;
	}
	header{
		justify-content:left;	
	}
		
}
.title:visited {
    color: whitesmoke;
  }