body{
	height: auto;
	margin: 0;
}
/* Header */
header {
	width: 100%;
	background: #333;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: 58px;
}
.container__head{
	display: flex;
	justify-content: space-between;
	
}
.links{
	font-size: 30px;
	margin-top: 25px;
	margin-right: 5px;
	display: flex;
	justify-content: space-between;

}
.link{
	display: inline-block;
	vertical-align: bottom;
	margin: 0 5px;
}


.title {
	font-size: 60px;
	padding-top: 1px;
	padding-left: 250px;
	text-align: center;
}

.work_area {
	width: 100%;
	height: 100%;
}

.map-settings {
	width: 100%;
	height: 90vh;
    margin:0 auto;
}

footer {
    width: 100%;
	background: #333;
    height: 42px;
	color: whitesmoke;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.post{
	font-size: 12px;
	text-align: right;
	
}

