.map-container {
    position: relative;
    width: 100%;
	height: 90vh;
}

.child {
    position: absolute;
    width: 100%;
	height: 90vh;
    mix-blend-mode: difference;
}

.aux-unit {
    pointer-events: none;
}

.map-mode {
    /*Окрашивание карты*/
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

